#img1{
    border: 2px blue;
    background-color:mediumblue;
}
#h1{
    text-align: center;
    font-family: AdvertisingMedium;
    font-size: 100px;
    color:blue;
    border: 5px mediumblue;
    background-color: aqua;
}
#sec1{
    display: none;
}