#img1{
    border: 2px ghostwhite inset;
}
#h1{
    text-align: center;
    font-family: AdvertisingMedium;
    font-size: 100px;
    color: silver;
    border: 5px whitesmoke solid;
    background-color: ghostwhite;
    color: rosybrown;
}
#sec1{
    display: none;
}